body {
  font-family: 'Noto Serif', serif;
  margin: 0;
  background-color: #faf9f3;
  overflow-x: hidden;
}

nav {
  text-align: center;
  padding: 1rem;
}

nav a {
  margin: 0 1.5rem;
  text-decoration: none;
  font-weight: bold;
  color: #000;
}

.hero {
  display: flex;
  justify-content: center;
}

.hero-image {
  max-width: 95%;
  width: 100%;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 0;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.card {
  text-align: left;
  min-width: 220px;
}

.card img {
  width: 100%;
  height: auto;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.about-image {
  max-width: 90%;
}

.about-content {
  display: flex;
  align-items: flex-start;
  max-width: 900px;
  padding: 1rem;
}

.about-content .rotated {
  transform: rotate(-90deg);
  transform-origin: left bottom;
  font-size: 2rem;
  font-weight: bold;
  padding-right: 2rem;
}

.about-content p {
  margin-top: 0;
  font-size: 1.2rem;
}

.results {
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
}

.results h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: left;
}

.results-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem 2rem;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.result-logo {
  max-width: 120px;
  margin-bottom: 1rem;
}

.result p {
  margin-bottom: 1rem;
  max-width: 90%;
  font-size: 1rem;
  text-align: left;
}

.result-image {
  max-width: 100%;
  height: auto;
}

.result .paula {
  padding: 0;
  margin: 0;
}

.contact {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.contact-info {
  width: 100%;
  max-width: 600px;
  margin-bottom: 1rem;
}

.contact h2 {
  font-size: 2.5rem;
}

.contact-image {
  max-width: 100%;
  margin-top: 1rem;
}

.linkedin {
  width: 40px;
  margin-top: 0.5rem;
}

@media (min-width: 800px) {
  .about {
    margin-top: 1rem;
  }

  .about-content {
    flex-direction: row;
  }

  .contact {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .contact-image {
    width: 50%;
    margin-top: 0;
  }

  .cards {
    overflow: visible;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .hero-image {
    max-width: 1100px;
  }

  .results-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .result {
    flex-direction: column;
    justify-content: flex-start;
  }
}
